# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
target/

# Env
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Solana
.anchor/
test-ledger/
artifacts/arx_node_logs/

# Cache
.cache/
